body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-header {
  background-image: url('./jay.jpg');
  border: #DA684C solid 0.5px;
  border-radius: 1.25%;
  background-position: 70% 10%;
  padding-right: 3rem;
}

.bg-grey-transparent {
  background-color: rgba(52, 58, 64, 0.9);
}

.bg-black {
  background-color: black;
  color: white;
}

#main-header .port-item{
  width: 30%;
  height: 8em;
}

#main-header p{
  font-size: 1em;
  padding: 10px;
}

.port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media(min-width:1199px){
  .port-item {
    padding: 3em !important;
  }
}

@media(max-width:1000px){
  #main-header {
    padding: 0px;
    background-position: 35% 0%;
    background-repeat: no-repeat;
  }

  .move-down {
    margin-top: 100vh;
  }
}
/* Nav */
.name {
  color: #DA684C !important; 
}

/* CTA */
.btn-primary, .btn-success {
  background-color: #DA684C !important;
  border: none;
}

a, a:hover {
  color: white;
  text-decoration: none;
}

